  <div class="max-w-5xl mx-auto mt-16 px-2">
  <header>
    <h1 class="text-xl font-bold">
      Edit announcement
    </h1>
  </header>

  <%= render "form", announcement: @announcement, url: announcement_path  %>
</div>


